@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
  font-weight: 400;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  min-height: 1024px;
  padding: 40px 150px;
  background-image: url("../img/mountain_back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto 285px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.waxom_logo {
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.logo_icon {
  fill: currentColor;
}

.logo_text {
  font-family: "Raleway";
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.36px;
}

.waxom_logo:hover .logo_icon {
  fill: #c7b299;
}

.waxom_logo:hover .logo_text {
  color: #c7b299;
}

.waxom_logo:active .logo_icon {
  fill: red;
}

.waxom_logo:active .logo_text {
  color: red;
}

.menu {
  display: none;
}

.menu_toggle {
  display: none;
}

.nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0 24px 0;
}

.links_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 7px 0 0 0;
  margin: 0;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.last_link {
  margin-right: 63px;
}

.link:hover {
  color: #c7b299;
}

.link:active {
  color: red;
}

.cart_btn {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 28px;
}

.cart_icon {
  fill: white;
}

.cart_icon:hover {
  fill: #c7b299;
}

.search_icon {
  fill: white;
}

.cart_icon:active {
  fill: red;
}

.search_form {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search_icon_label:hover .search_icon {
  fill: #c7b299;
}

.search_icon_label:active .search_icon {
  fill: red;
}

.search_input {
  width: 0px;
  min-height: 0px;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -126px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}

.search_input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.search_input:focus ~ .search_icon_label > .search_icon {
  fill: green;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1620px;
  margin: 0 auto;
}

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  margin: 100px 30px;
  border: none;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.arrow_left {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow_right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow:hover {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}

.arrow:active {
  border-top: 2px solid red;
  border-right: 2px solid red;
}

.text_content_header {
  margin-bottom: 250px;
}

.little_heading {
  margin: 0 0 14px 0;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  text-align: center;
}

.big_heading {
  margin: 0;
  font-family: "Raleway";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.sub_heading {
  width: 562px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  color: white;
  text-align: center;
  margin: 19px 0 52px 0;
}

.getStarted_btn {
  margin: 0 auto;
  width: 173px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  letter-spacing: normal;
  background-color: #998675;
  padding: 21px 19px 21px 17px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
}

.getStarted_btn:hover {
  background-color: darkgrey;
}

.getStarted_btn:active {
  background-color: red;
}

.selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 17px;
}

.selector_round {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selector_round:last-child {
  margin-right: 0;
}

.selector_round:hover,
.selector_round:active {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: solid 2px #d3c1ad;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  padding: 80px 376px 80px 378px;
}

.feature_card {
  max-width: 266px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 33px;
}

.feature_card:last-child {
  margin-right: 0;
}

.feature_svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #555555;
}

.feature_heading {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  margin: 29px 0 19px 0;
}

.feature_subheading {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0 30px 0;
  color: #8c8c8c;
}

.feature_card::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.feature_card:hover .feature_svg {
  fill: #c7b299;
}

.feature_card:hover .feature_heading {
  color: #c7b299;
}

.feature_card:hover::after {
  background-color: #c7b299;
}

.screenshots {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fbfaf8;
  padding: 83px 344px 0 346px;
}

.screenshots_heading {
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0 24px 0;
  color: #555555;
}

.screenshots_subheading {
  max-width: 757px;
  margin: 0 auto 40px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: normal;
  color: #8c8c8c;
  text-align: center;
}

.screenshot {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to bottom right, #211b19, #4e3427);
  padding: 48px 374px 49px 376px;
}

.advert_heading {
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin: 0 0 8px 0;
}

.advert_heading span {
  color: #c7b299;
}

.ad_subheading {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  color: #615855;
  margin: 0;
}

.purchase_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  letter-spacing: normal;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  padding: 19px 29px 20px 28px;
}

.purchase_btn:hover {
  background-color: darkgray;
}

.purchase_btn:active {
  background-color: red;
}

.our_projects {
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 81px 374px 81px 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects_heading {
  margin: 0 0 24px 0;
  width: 100%;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.projects_subheading {
  max-width: 757px;
  margin: 0 auto 40px;
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}

.projects_btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0;
}

.project_btn {
  min-height: 32px;
  display: block;
  margin-right: 10px;
  border-radius: 3px;
  border: solid 1px #ebebeb;
  outline: none;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  color: #8c8c8c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 20px;
}

.project_btn:last-child {
  margin-right: 0px;
}

.project_btn:hover {
  background-color: #998675;
  color: white;
}

.project_btn:active {
  background-color: red;
}

.project_previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview_project {
  position: relative;
  max-width: 370px;
  min-height: 237px;
  text-decoration: none;
  background-color: #fbfaf8;
  margin: 0 0 30px 0;
}

.copy_link,
.search_link {
  display: none;
  position: absolute;
  top: 106px;
  left: 144px;
  background: transparent;
  outline: none;
  border: none;
  fill: white;
}

.search_link {
  left: 198px;
}

.preview_project::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 197px;
  left: 19px;
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
}

.preview_project:hover {
  background-color: #362f2d;
}

.preview_project:hover::before {
  border-bottom: 20px solid #362f2d;
}

.preview_project:hover > img {
  z-index: 1;
  -webkit-filter: brightness(33%);
          filter: brightness(33%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.preview_project:hover > button {
  display: block;
}

.preview_project > button:hover {
  fill: #c7b299;
}

.preview_project > button:active {
  fill: red;
}

.project_heading {
  margin: 30px 30px 14px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #c7b299;
}

.project_subheading {
  margin: 0 0 27px 30px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  color: #d1d1d1;
}

.load_more_btn {
  margin: 10px auto 0;
  text-transform: uppercase;
  padding: 19px 45px 20px 44px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  background-color: #998675;
  border: none;
  color: white;
  outline: none;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  letter-spacing: normal;
}

.load_more_btn:hover {
  background-color: darkgrey;
}

.load_more_btn:active {
  background-color: red;
}

.video {
  position: relative;
  max-width: 1920px;
  height: 705px;
  margin: 0 auto;
  overflow: hidden;
}

.video_mobile {
  display: none;
}

.background_video {
  -o-object-fit: cover;
     object-fit: cover;
  outline: none;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.up_layer_video {
  position: absolute;
  top: 225px;
  left: 685px;
}

.video_heading {
  margin: 0 0 29px 0;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  text-align: center;
}

.video_subheading {
  margin: 0 0 40px 0;
  max-width: 552px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.time {
  display: block;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
}

.play_video_icon {
  position: relative;
  display: block;
  margin: 0 auto 44px;
  padding: 0;
  fill: white;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.play_video_icon::before {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100px;
  height: 100px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.2;
}

.play_video_icon_svg {
  position: relative;
  z-index: 2;
}

.play_video_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile_devices {
  max-width: 1920px;
  min-height: 695px;
  margin: auto;
  background-color: #fbfaf8;
  background-image: url(../img/iPhone.png);
  background-repeat: no-repeat;
  background-position: left 423px bottom;
  padding: 195px 300px 0 875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile_heading {
  margin: 0 0 40px 0;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

.mobile_subheading {
  max-width: 670px;
  margin: 0 0 45px 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: normal;
  color: #8c8c8c;
}

.mobile_list {
  margin: 0 0 0 0;
  padding: 0 0 0 50px;
  list-style-type: none;
}

.mobile_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: normal;
  color: #8c8c8c;
}

.mobile_list_item::before {
  content: url(../img/marker.png);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 21px;
  height: 21px;
  margin: 0 29px 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to bottom right, #211b19, #4e3427);
  padding: 69px 423px 60px 423px;
}

.stat_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stat_item::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: #f1eee9;
}

.stat_svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #c7b299;
  margin: 0 0 30px 0;
}

.stat_number {
  text-align: center;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 200;
  line-height: 0.75;
  letter-spacing: normal;
  color: white;
}

.stat_heading {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
  margin: 21px 0 30px 0;
  text-transform: uppercase;
}

.recent_posts {
  max-width: 1920px;
  margin: 0 auto;
  padding: 81px 374px 80px 376px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recent_posts_heading {
  margin: 0 0 30px 0;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}

.recent_posts_subheading {
  max-width: 757px;
  margin: 0 auto 40px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: normal;
  color: #8c8c8c;
  text-align: center;
}

.recent_posts_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.recent_post_card {
  max-width: 370px;
  position: relative;
  border: solid 1px #f8f8f8;
  padding-bottom: 33px;
}

.calendar_day {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 300;
  line-height: 0.83;
  letter-spacing: normal;
  color: white;
  padding: 9px 10px 9px 11px;
  background-color: #363636;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.calendar_month {
  position: absolute;
  top: 56px;
  left: 20px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: normal;
  color: white;
  padding: 7px 13px 6px 14px;
  background-color: #252525;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.recent_post_card_selector {
  position: absolute;
  bottom: 208px;
}

.recent_post_card_heading {
  margin: 30px 0 19px 29px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

.recent_post_card_subheading {
  margin: 0 0 27px 29px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  letter-spacing: normal;
  color: #8c8c8c;
}

.recent_post_card_read_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 29px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  color: #c7b299;
  text-decoration: none;
}

.recent_post_card_read_more::after {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #c7b299;
  margin-left: 9px;
}

.recent_post_card_read_more:hover {
  color: darkgray;
}

.recent_post_card_read_more:hover:after {
  border-color: transparent transparent transparent darkgray;
}

.recent_post_card_read_more:active {
  color: red;
}

.recent_post_card_read_more:active:after {
  border-color: transparent transparent transparent red;
}

.recent_post_card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #362f2d;
}

.recent_post_card:hover > img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: brightness(33%);
          filter: brightness(33%);
}

.recent_post_card:hover > h3 {
  color: #c7b299;
}

.recent_post_card:hover .calendar_day {
  background-color: #c7b299;
}

.recent_post_card:hover .calendar_month {
  background-color: #a48d72;
}

.recent_post_card:hover > p {
  color: white;
}

.recent_post_cards_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent_post_cards_btn {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
}

.recent_post_cards_btn:first-child {
  fill: #d1d1d1;
  margin-right: 4px;
}

.recent_post_cards_btn:last-child {
  fill: #c7b299;
  margin-left: 4px;
}

.recent_post_cards_btn:first-child:hover,
.recent_post_cards_btn:last-child:hover {
  fill: darkgray;
}

.recent_post_cards_btn:first-child:active,
.recent_post_cards_btn:last-child:active {
  fill: red;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 489px;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(../img/footer_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 376px;
  padding-right: 374px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parter_logo {
  width: 100%;
}

.partner {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.partner:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 80px 374px 81px 376px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #191919;
}

.footer_about {
  max-width: 258px;
}

.footer_about_text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  color: #555555;
  margin: 29px 0 33px 0;
}

.footer_about_read_more {
  color: white;
  text-decoration: none;
  margin: 0 0 0 0;
}

.footer_about_read_more::after {
  border-color: transparent transparent transparent white;
}

.footer_recent_posts {
  max-width: 270px;
}

.footer_heading {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: white;
  margin: 30px 0;
}

.footer_recent_post_link {
  text-decoration: none;
}

.footer_recent_post_date {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: normal;
  color: #363636;
}

.footer_recent_post_text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  color: #555555;
  margin: 10px 0 21px 0;
}

.footer_recent_post_link::after {
  content: "";
  display: block;
  max-width: 270px;
  height: 2px;
  background-color: #252525;
  margin-bottom: 19px;
}

.footer_recent_post_link:last-child:after {
  display: none;
}

.footer_recent_post_link:hover > span {
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.footer_recent_post_link:hover > p {
  color: #c7b299;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.our_twitter {
  max-width: 270px;
}

.footer_our_twitter_text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: normal;
  color: #555555;
  margin: 0 0 11px 0;
}

.footer_our_twitter_text > span {
  color: #00bff3;
}

.footer_our_twitter_date {
  display: block;
  margin-bottom: 20px;
}

.footer_recent_post_link:last-child > p > span {
  color: #959595;
}

.footer_widget {
  max-width: 274px;
}

.footer_widget_img:nth-child(2),
.footer_widget_img:nth-child(3) {
  margin-bottom: 10px;
}

.footer_widget_img:nth-child(2),
.footer_widget_img:nth-child(4) {
  margin-right: 10px;
}

.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 45px 374px 52px 376px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #111111;
}

.footer_copyright_link_text {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: normal;
  color: #555555;
}

.copyright_link {
  text-decoration: none;
  color: #959595;
  border-right: 1px solid #555555;
  padding-right: 15px;
  margin-left: 10px;
}

.copyright_link:nth-child(2) {
  margin-left: 0;
}

.copyright_link:nth-child(5) {
  border: none;
}

.copyright_link:hover {
  color: #c7b299;
}

.copyright_link:active {
  color: red;
}

.footer_copyright_link_text:nth-child(3) {
  margin-left: 10px;
}

.copyright_link_envato {
  border: none;
  margin-left: 0;
}

@media (max-width: 480px) {
  header {
    padding: 20px 20px 20px 20px;
    min-height: 60px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .top_header {
    margin: 0;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu:hover > span,
  .menu:hover > span::before,
  .menu:hover > span::after {
    background-color: #c7b299;
  }
  .nav_bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header_content {
    display: none;
  }
  .links_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .links_header .link {
    margin: 5px 0 5px 0;
  }
  .menu_burger {
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_burger::before {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
    margin-top: -9px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_burger::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background-color: white;
    margin-top: 16px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_toggle:checked + .menu > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_toggle:checked + .menu > span::after {
    -webkit-transform: rotate(90deg) translateX(-15px);
            transform: rotate(90deg) translateX(-15px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .menu_toggle:checked + .menu > span::before {
    display: none;
  }
  .menu_toggle:checked ~ .nav_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .search_input {
    top: 35px;
    left: -90px;
  }
  .features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 5px 20px 5px;
  }
  .feature_card {
    width: 50%;
    margin: 0 0 20px 0;
  }
  .feature_svg {
    height: 49px;
  }
  .feature_heading {
    font-size: 5vw;
  }
  .feature_subheading {
    font-size: 4vw;
  }
  .screenshots {
    padding: 20px 5px 20px 5px;
  }
  .screenshots_subheading {
    margin: 0;
  }
  .screenshot {
    display: none;
  }
  .ad {
    display: none;
  }
  .our_projects {
    padding: 20px 5px 20px 5px;
  }
  .projects_btns {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project_btn {
    width: 45%;
    margin: 0 0 7px 0;
  }
  .project_previews {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preview_project,
  .recent_post_card {
    max-width: 300px;
  }
  .preview_project > img {
    width: 100%;
  }
  .preview_project::before {
    top: 152px;
  }
  .copy_link,
  .search_link {
    top: 85px;
    left: 90px;
  }
  .search_link {
    left: 155px;
  }
  .video {
    height: auto;
  }
  .background_video {
    display: none;
  }
  .video_mobile {
    display: block;
    overflow: hidden;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  .up_layer_video {
    top: 100px;
    left: 40vw;
  }
  .video_heading,
  .video_subheading,
  .time {
    display: none;
  }
  .mobile_devices {
    padding: 20px 5px 20px 5px;
    background-image: none;
    min-height: auto;
  }
  .mobile_heading,
  .mobile_subheading {
    text-align: center;
  }
  .mobile_list {
    padding: 0 0 0 0;
  }
  .stat {
    padding: 20px 5px 20px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stat_item {
    width: 50%;
    margin: 0 0 25px 0;
  }
  .stat_item:last-child {
    margin: 0 auto;
  }
  .recent_posts {
    padding: 20px 5px 20px 5px;
  }
  .recent_posts_cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent_post_card_selector {
    bottom: 228px;
  }
  .recent_post_card > img {
    width: 100%;
  }
  .partners {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 5px 20px 5px;
    min-height: 30px;
  }
  .parter_logo {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  .footer_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 5px 20px 5px;
  }
  .waxom_logo {
    margin: 0 auto;
  }
  .footer_about_text,
  .footer_heading {
    text-align: center;
  }
  .footer_about_read_more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_recent_post_date,
  .footer_recent_post_text,
  .footer_our_twitter_text {
    display: block;
    text-align: center;
  }
  .footer_widget {
    display: none;
  }
  .footer_copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 5px 20px 5px;
  }
  .footer_copyright_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
  }
  .footer_copyright_links:last-child {
    margin-bottom: 0;
  }
  .footer_copyright_link_text:nth-child(2) {
    margin-left: 10px;
  }
  .copyright_link:nth-child(5) {
    padding-right: 0;
  }
  .copyright_link_envato {
    padding: 0 0 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */